@font-face {
    font-family: 'Tahoma-Regular';
    src: url('fonts/Tahoma-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}	
body {
	height: 550px;
	width: 400px;
	margin-right: auto;
	margin-left: auto;
	
}
.wrapper {
	height: 530px;
	width: 380px;
	border: 2px solid #5a5a5a;
	margin: 10px 10px 10px 10px;
}
h1 {
	font-family: 'Tahoma-Regular';
	font-weight: bold;
	text-align: center;
	font-size: 22px;
	color: #242424;
}
img.LenovoTab {
	display: block;
	margin-right: auto;
	margin-left: auto;
}
.Leaseblock {
	height: 33px;
	width: 190px;
	margin-bottom: 19px;
	background-color: #8bc144;
	box-shadow: -4px 3px 0px #888888;
	
}
.lease {
	font-family: 'Tahoma-Regular';
	font-weight: bold;
	display: inline;
	font-size: 22px;
	margin-left: 40px;
	color: #ffffff;
}
.price {
	font-family: 'Tahoma-Regular';
	text-align: center;
	font-size: 31px;
	font-weight: bold;
	margin-bottom: 15px;
	margin-top: auto;
}
.button {
	height: 46px;
    width: 229px;
    margin-right: auto;
	margin-left: auto;
	padding-top: 3px;
    background-color: #e93f33;
    box-shadow: 0px 3px #791c16;
	font-family: 'Tahoma-Regular';
	font-size: 28px;
	text-align: center;
}
a {
	text-decoration: none;
	color: #ffffff;
	text-shadow: -1px 1px 1px black;
	font-weight: bold;
}
